.form-control {
    padding-bottom: 10px!important;
    background-color: transparent;
    border: 1px solid white;
}
.form-control:focus {
    background: transparent;
}

#contactForm {
    color: black;
}

#submitButton {
    width: 100%;
    font-weight: bold;
    border: none;
    background: none;
    outline: none;
    color: black;
    mix-blend-mode: screen;
}

.btn-primary:hover {
    opacity: 90%;
    transition:220ms ease-in;
}

.redes-contact {
    width: 200px;
    margin-bottom: 50px;
}
label {  
    color: white;
}

#react-select{  
    color: white;
}

.form-control  {
    padding-top: 8px !important; 
    padding-bottom: 8px !important;
    height: 42px !important;
}

.css-1xfyymd-control {
    background-color: transparent;
}  