#inicio {
    background-image: url(../../assets/images/DaleFondoOk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#title {
    text-shadow: 2px 2px 0px rgba(0,0,0,0.52);
}

#boton-festival {
    color: white !important;
    background: #64a9d6 !important;
    border-color: white;
    width: 176px;
    height: 44px;
}

@media (max-width:800px){
    .page-section {
        min-height: 70vh !important;
    }
}