.footer {
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  background-color: var(--BlackColor);
  color: var(--WhiteColor);
}
.lead {
    font-size: 0.45rem;
}
.footer-description {
  height: 40px;
}

#copy {
  font-size: 10px;
}

@media only screen and (max-width: 992px) {
    #avisosLegales {
        font-size: 13px;
    }
    #pampa {
        font-size: 8px;
    }
}

#pampa {
    font-size: 10px;
    > a { color: rgb(159, 159, 159); }
}

#pampaLogo {
    margin-left: 4px;
}

#trtLogo {
    display: flex;
}